* {
  margin: 0;
  padding: 0;
  font-family: "Gemunu Libre", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  /* background-image: url(images/backgroundX.png); */
  background-size: cover;
  background-position: center;
  /*  position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text .text {
  position: absolute;
  font-size: 200%;
  margin-top: 20px;
  border-right: 4px solid white;
  white-space: nowrap;
  overflow: hidden;
}
.animation1 {
  animation: typewriter 4s steps(34) 1s infinite both,
    blinkCursor 700ms steps(34) infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 440px;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

.header-text h1 span {
  color: #ff004f;
}

/* ---about--- */

#about {
  padding: 80px 0;
  color: #ababab;
  font-size: 1.1rem;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 1rem;
}
.tab-contents ul li span {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #ff004f;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
/* -----Skills---- */

#skills {
  padding: 30px 0;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.skills-list div {
  background-color: #272727;
  padding: 40px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.5s;
}

.skills-list div i {
  font-size: 50px;
  margin-bottom: 30px;
  padding-right: 10px;
}

.skills-list div h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.skills-list div a {
  text-decoration: none;
  font-size: 13px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.skills-list div:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  color: #fff;
  width: 100%;
  height: 0;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.layer p a {
  color: #fff;
}

.layer .layer-btn {
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  color: #ff004f;
  line-height: 60px;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border-radius: 5px;
  padding: 13px 3rem;
  border: 1px solid #ff004f;
  text-decoration: none;
  color: #fff;
}
.btn:hover {
  background: #ff004f;
}

/* ----Contact---- */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.contact-social-icons {
  margin-top: 30px;
}
.contact-social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.contact-social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  font-size: 25px;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

form .btn2 {
  font-size: 18px;
  cursor: pointer;
  padding: 15px 55px;
  margin-top: 20px;
}
.copyright {
  width: 100%;
  text-align: center;
  margin-right: 100px;
  padding: 15px 100px;
  margin-bottom: 50px;
  font-size: 16px;
  background: #161616;
}

#form-msg {
  color: #1c810d;
  margin-bottom: 2px;
  display: block;
}

/* ------responsive------- */

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  #header {
    background: #080808;
    /*  background-image:url(images/backgroundY.png) ; */
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 240px;
    }
  }

  nav .fas {
    display: block;
    font-size: 27px;
  }

  nav ul {
    background: #2f2f2f;
    z-index: 2;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 24px;
  }

  nav ul i.fas {
    top: 25px;
    left: 25px;
    position: absolute;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2,
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 32px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-top: 20px;
  }
  #skills {
    padding: 0;
  }
  #contact form .btn {
    padding: 10px 30px;
  }
}
